{:paths ["src" "resources"]
 :deps {com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        org.babashka/http-client {:mvn/version "0.3.11"}
        org.clj-commons/byte-streams {:mvn/version "0.3.4"}
        metosin/reitit {:mvn/version "0.7.0-alpha7"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/muuntaja-form {:mvn/version "0.6.8"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        info.sunng/ring-jetty9-adapter {:mvn/version "0.31.0"}
        ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-defaults {:mvn/version "0.4.0"}
        ring/ring-codec {:mvn/version "1.2.0"}
        mount/mount {:mvn/version "0.1.17"}
        tolitius/mount-up {:mvn/version "0.1.3"}
        cprop/cprop {:mvn/version "0.1.19"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        org.clojure/data.json {:mvn/version "2.5.0"}}
 :aliases {:dev {:extra-paths ["dev" "dev-resources"]
                 :extra-deps {djblue/portal {:mvn/version "0.52.2"}
                              org.slf4j/slf4j-simple {:mvn/version "2.0.12"}}
                 :jvm-opts ["-Dconf=conf/efactura.dev.edn"]}
           :debug {:jvm-opts [;; enable logging for java.net.http
                              "-Djdk.httpclient.HttpClient.log=errors,requests,headers,frames[:control:data:window:all..],content,ssl,trace,channel"]}
           :fetch-api {:paths ["fetch_api"]
                       :extra-deps {io.swagger.parser.v3/swagger-parser {:mvn/version "2.1.19"}
                                    org.babashka/http-client {:mvn/version "0.4.15"}}
                       :exec-fn main/run
                       :jvm-opts ["--enable-preview"]}}}